body{
    background-color: aquamarine;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem
}


.container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao {
    display: flex;
    gap: 10px;
}

p{
    display: none;
    font-size: 2rem;
    margin: .5rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}